@charset "utf-8"

// Fonts

@font-face
    font-family: 'Knights Quest Shielded'
    src: url(Knights-Quest-Shielded.ttf)

// Variables

$content-width: 1200px !default
$on-palm: 640px !default
$page-logo-width: 320px !default
$header-logo-width: 32px !default
$post-logo-width: 160px !default
$spacing: 10px !default
$border-radius: 4px !default

$base-font-family: Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif !default
$base-font-size: 0.9em
$base-color: #3D3D3D
$link-color: #3870C6
$background-color: #F8F8F8
$shadow: rgba(0,0,0,0.2)

$site-background: url(noise-texture.png) center
$site-background-color: #272822
$site-background-size: auto

// Mixins

@mixin media-query($device)
    @media screen and (max-width: $device)
        @content

@mixin box-shadow($height)
    box-shadow: 0 0 0 1px $shadow, inset 0 -#{$height} $shadow

@mixin active-box-shadow($height)
    box-shadow: inset 0 0 0 1px $shadow, inset 0 #{$height} $shadow

// Animations

@keyframes display
    from
        opacity: 0
    to
        opacity: 1

// Common elements

a, label[for="nav-trigger"]
    display: inline-block
    text-decoration: none
    color: $link-color
    border-radius: 2px
    padding: 2px 6px
    +active-box-shadow(0)

a:hover, a:active, a:focus
    outline: none
    background-color: $shadow
    +active-box-shadow(2px)

// Background

html
    font-family: $base-font-family
    font-size: $base-font-size
    height: 100%
    text-align: center
    color: $base-color
    background: $site-background
    background-color: $site-background-color
    background-size: $site-background-size
    padding: 0 $spacing

body
    width: 100%
    max-width: $content-width
    min-height: 100%
    margin: auto
    position: relative

    // Site header

    .site-header
        position: fixed
        top: 0
        left: $spacing
        right: $spacing
        z-index: 10
        max-width: $content-width
        margin: auto
        padding: $border-radius/2 $border-radius
        padding-bottom: $border-radius*1.5
        background-color: $site-background-color
        +box-shadow($border-radius)
        border-bottom-left-radius: $border-radius
        border-bottom-right-radius: $border-radius

        .site-nav
            .nav-trigger
                display: none

            input ~ .trigger
                overflow: hidden
                height: $header-logo-width + $border-radius*4

            input:checked ~ .trigger
                height: auto

            .page-link, .social, label[for="nav-trigger"]
                display: inline-block
                vertical-align: middle
                min-width: $header-logo-width
                height: $header-logo-width
                line-height: $header-logo-width
                padding: $border-radius*1.5
                margin: $border-radius/2 calc(#{$border-radius/2} - 2px)
                color: $background-color
                border-radius: $border-radius
                background-color: $site-background-color

            label[for="nav-trigger"]
                float: right
                cursor: pointer
                text-align: center
                margin-left: $border-radius

                .menu-icon
                    display: inline-block
                    width: 18px
                    height: 15px
                    position: relative
                    top: 3px
                    user-select: none

                    svg path
                        fill: $background-color

            .page-link
                min-width: $header-logo-width*2 + $border-radius*4
                text-align: center

            #current-page-link
                background-color: $shadow
                +active-box-shadow($border-radius)
                background-color: scale-color($site-background-color, $lightness: -20%)

            .page-link:hover, .page-link:active, .page-link:focus,
            .social:hover, .social:active, .social:focus,
            input:checked ~ .trigger label[for="nav-trigger"]
                background-color: $shadow
                text-decoration: none
                +active-box-shadow($border-radius)
                background-color: scale-color($site-background-color, $lightness: -20%)

    // Site footer

    .site-footer
        position: absolute
        bottom: 0
        left: 0
        right: 0
        padding: $spacing
        color: $background-color
        background-color: $site-background-color
        +box-shadow(0)
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius

        span
            display: inline-block

    // Page

    .page
        padding: $header-logo-width + $spacing*2 + $border-radius*5 0
        animation: display 0.5s linear

        // Page header

        .page-header
            color: $background-color
            text-shadow: 0 0 1em rgba($shadow, 1)

            .page-title
                font-size: 2em
                margin: $spacing*2 0

            time, .page-category
                font-weight: bold
                display: inline-block
                vertical-align: middle
                margin: 0 $spacing

            .page-logo
                margin: $spacing*4 auto
                width: 100%
                max-width: $page-logo-width
                height: $page-logo-width
                line-height: $page-logo-width
                overflow: hidden
                border-radius: 50%
                background-color: $shadow

                img
                    width: 100%
                    min-height: 100%

            +media-query($on-palm)
                .page-logo
                    max-width: $page-logo-width/2
                    max-height: $page-logo-width/2
                    line-height: $page-logo-width/2

        // Page content

        .page-content
            text-align: left
            margin: $spacing*4 0
            padding: $spacing*2
            +box-shadow($border-radius)
            background-color: $background-color
            border-radius: $border-radius

            h1, h2
                border-bottom: 1px solid $shadow
                padding-bottom: $spacing

            img
                border-radius: $border-radius
                max-width: 100%
                display: block
                margin: auto

            // Syntax highlighting styles for code snippets
            @import "_syntax-highlighting"

    // Home page

    #home
        .page-header
            background: url(monitor-frame.svg) calc(50% - #{$page-logo-width/2}) 100% no-repeat, url(g4quicksilver-frame.svg) calc(50% + #{$page-logo-width/2}) 100% no-repeat
            background-size: $page-logo-width

            .page-title
                font-family: 'Knights Quest Shielded', $base-font-family
                font-size: 3em

            .page-category
                font-size: 1.5em

        .post
            display: block
            margin: $spacing auto
            padding: $spacing
            color: $background-color
            background-color: $site-background-color
            border-radius: $border-radius
            +active-box-shadow(0)

            .post-logo
                display: inline-block
                width: $post-logo-width
                height: $post-logo-width
                line-height: $post-logo-width
                margin-top: $spacing
                border-radius: 50%
                overflow: hidden
                background-color: $shadow

                img
                    width: 100%
                    min-height: 100%

            .post-title
                font-size: 1.5em

            time, .post-category
                font-weight: bold
                display: inline-block
                vertical-align: middle
                margin: 0 $spacing

        .post:hover, .post:active, .post:focus
            +active-box-shadow($border-radius)
            background-color: scale-color($site-background-color, $lightness: -20%)

        +media-query($on-palm)
            .page-header
                background: url(monitor-frame.svg) calc(50% - #{$page-logo-width/4}) 100% no-repeat, url(g4quicksilver-frame.svg) calc(50% + #{$page-logo-width/4}) 100% no-repeat
                background-size: $page-logo-width/2

                .page-title
                    font-size: 6vw

                .page-category
                    font-size: 1em

            .post
                .post-logo
                    width: $post-logo-width/2
                    height: $post-logo-width/2
                    line-height: $post-logo-width/2

        +media-query($page-logo-width)
            .page-header
                background: none
