---
layout: default
---
<article class="page" id="home">

    <header class="page-header">
        <!-- Title -->
        <div class="page-title">{{ site.title | replace:" ","<br>" }}</div>

        <!-- Catchphrase -->
        {% if site.catchphrase %}
            <span class="page-category">{{ site.catchphrase }}</span>
        {% endif %}

        <!-- Logo -->
        {% if site.logo or page.logo %}
            <div class="page-logo">
                <img src="{{ page.logo | default: site.logo | prepend:"/assets/" | relative_url }}" alt="Website logo">
            </div>
        {% endif %}
    </header>

    <!-- Posts list -->
    {% if site.posts %}
        {% for post in site.posts %}
            <a class="post" href="{{ post.url | relative_url }}">
                <div class="wrap">
                    <!-- Post title -->
                    <div class="post-title">{{ post.title }}</div>

                    <!-- Date -->
                    {% if post.date %}
                        <time datetime="{{ post.date | date_to_xmlschema }}">
                            {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
                            {{ post.date | date: date_format }}
                        </time>
                    {% endif %}

                    <!-- Post categories -->
                    {% for category in post.categories %}
                        <div class="post-category">{{ category }}</div>
                    {% endfor %}
                </div>

                <!-- Post logo -->
                <div class="post-logo">
                    {% if post.logo %}
                        <img src="{{ post.logo | prepend:"/assets/" | relative_url }}" alt="Post logo">
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    {% endif %}

</article>
