---
layout: default
---
<article class="page" id="{{ page.title | downcase | replace:" ","-" }}">
    <header class="page-header">
        <!-- Title -->
        <div class="page-title">
            {{ page.title | escape }}
        </div>

        <!-- Date -->
        {% if page.date %}
            <time datetime="{{ page.date | date_to_xmlschema }}">
                {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
                {{ page.date | date: date_format }}
            </time>
        {% endif %}

        <!-- Categories -->
        {% for category in page.categories %}
            <span class="page-category">{{ category | escape }}</span>
        {% endfor %}

        <!-- Logo -->
        {% if page.logo %}
            <div class="page-logo">
                <img src="{{ page.logo | prepend:"/assets/" | relative_url }}" alt="The page logo">
            </div>
        {% endif %}
    </header>

    <!-- Content -->
    {% unless page.content == '' or post.content == '' %}
        <div class="page-content">
            {{ content }}
        </div>
    {% endunless %}
</article>
